.container-Depoimento {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 32px;
}

.container-avaliacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    letter-spacing: .2rem;
}
.depoimento-class {
    font-weight: bold;
    margin-bottom: 1rem;
}


/* IMAGEM DE AVALIAÇÃO DO SITE */
.img-avaliacao {
    width: 20rem;
}




.depoimento-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.description-title {
    letter-spacing: 5px;
}

.depoimentos_cards {
    width: 100%;
    gap: 16px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    /* row-gap: 60px; */
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
}



/* BUTTON */

.btn-depoimentos {
    margin: 1rem 0;
}



/* RESPOSIVIDADE */

@media (max-width: 1024px) {

    .depoimentos_cards {
      grid-template-columns: 20rem 20rem;
    }

    .description-title,
    .depoimento-class {

        text-align: center;
    }
}


@media (max-width: 767px) {
    .container-Depoimento {
        display: contents;
    }
    .depoimentos_cards {
      grid-template-columns: 20rem;
    }

    .description-title,
    .depoimento-class {

        text-align: center;
    }
}


@media (max-width: 418px) {
    .container-Depoimento {
        display: contents;
    }
    .depoimentos_cards {
      grid-template-columns: 20rem;
    }

    .description-title,
    .depoimento-class {

        text-align: center;
    }
}

@media (max-width: 320px) {
    .container-Depoimento {
        display: flex;
    }
    .depoimentos_cards {
      grid-template-columns: 20rem;
    }

    .description-title,
    .depoimento-class {
        text-align: center;
    }

}











