.container-AfterBefore {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0caada;
}

.afterBefore-associados {
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Inter", "Helvetica Neue";
}

.associados-title {
    font-size: 2.8em;
    font-weight: bold;
    letter-spacing: .4rem;
}
.associados-p {
    font-size: 1.7em;
}

.afterBefore-titles {
    width: 60vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



/* RESPOSIVIDADE */

@media (max-width: 1024px) {
    .container-AfterBefore {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .afterBefore-associados {
        width: 100vw;
        text-align: center;

    }
    .afterBefore-titles {
        width: 100vw;
        height: 350px;
    }
}

@media (max-width: 768px) {
    .container-AfterBefore {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .afterBefore-associados {
        width: 100vw;
        text-align: center;

    }
    .afterBefore-titles {
        width: 100vw;
        height: 150px;
    }
}

@media (max-width: 418px) {
    .container-AfterBefore {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .afterBefore-associados {
        width: 100%;
        text-align: center;
        padding: .2rem;
    }
    .afterBefore-titles {
        width: 100vw;
        height: 150px;
    }
}

@media (max-width: 320px) {
    .container-AfterBefore {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .afterBefore-associados {
        width: 100%;
        text-align: center;
        padding: .2rem;
    }
    .afterBefore-titles {
        width: 100vw;
        height: 150px;
    }
}

@media (max-width: 260px) {
    .container-AfterBefore {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .afterBefore-associados {
        width: 100vw;
        text-align: center;

    }
    .afterBefore-titles {
        width: 100vw;
        height: 150px;
    }
}
